.mat-elevation-z12{
  height: 70px;
  position: fixed;
}
.title{
  margin-left: 2rem;
}
.login{
  margin-right: 2rem;
}
.Login{
  padding-top: 1.2em;
  font-size: smaller;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
