<mat-toolbar class="mat-elevation-z12" color="primary">
  <span><button mat-flat-button color="primary" class="buttons" onclick="location.href='dashboard';"> <mat-icon>settings_input_svideo</mat-icon>
 PR2 Tutorial</button>
    <!-- evtl redundante buttons
    <button mat-flat-button color="primary" class="buttons" onclick="location.href='dashboard';"> Dashboard</button>
    <button mat-flat-button color="primary" class="buttons" onclick="location.href='calendar';"> <mat-icon>event</mat-icon> Termine</button>
//-->


  </span>


  <span class="example-fill-remaining-space"></span>

  <span>

<!--<div>-->
    <!--<form class="Login">-->
    <!--<mat-form-field>-->
    <!--<input type="text" matInput placeholder="Username" class="buttons">-->
    <!--</mat-form-field>-->
    <!--<span class="placeholder"> </span>-->
    <!--<mat-form-field>-->
    <!--<input type="password" matInput placeholder="Password" class="buttons">-->
    <!--</mat-form-field>-->
    <!--<button mat-flat-button color="primary" class="buttons"-->
    <!--routerLinkActive="active" routerLink="/dashboard">Login-->
    <!--</button>-->
    <!--<button mat-flat-button color="primary" class="buttons" onclick="location.href='register';">Register</button>-->

    <!--</form>-->
    <!--</div>-->
    <div>
<nav>
    <button mat-flat-button color="primary" class="buttons" routerLinkActive="active" routerLink="/profile">
    <mat-icon>face
  </mat-icon> Profile</button>
    <button mat-flat-button color="primary" class="buttons" routerLinkActive="active" routerLink="/calendar"> <mat-icon
      matBadge="2"
      matBadgePosition="before below"
      matBadgeColor="accent">event</mat-icon> Termine</button>
    <button mat-flat-button color="primary" class="buttons"> <mat-icon
      matBadge="15" matBadgePosition="before below" matBadgeColor="accent">email</mat-icon> Messages</button>
   <button mat-flat-button color="primary" class="buttons" routerLinkActive="active" routerLink="/login"> <mat-icon>
     power_settings_new</mat-icon> Log out</button>
</nav>
      </div>
</span>
</mat-toolbar>






