<mat-card class="mat-elevation-z6" *ngIf="!success">
  <mat-card-title>Terminbuchung</mat-card-title>
  <mat-card-subtitle>Benutzt diesen Kalender für die Terminvergabe</mat-card-subtitle>
  <mat-card-content fxLayout="column">
    <div fxFlex="1 1 100%">
      <p>
        - Profit :)
      </p>
      <mat-divider></mat-divider>
    </div>


    <div class="datepicker" fxFlexAlign="center" fxFlex="1 1 100%">
      <br>
      <ngb-datepicker #cal [(ngModel)]="model" (select)="onDateSelection($event)" [dayTemplate]="t">
      </ngb-datepicker>
      <ng-template #t let-date="date">
         <span class="calendar"
               [class.free]="isFree(date)"
               [class.completlyFree]="isCompletlyFree(date)"
               [class.full]="isFull(date)"
               [class.selected]="isSelected(date)"
               [class.past]="isPast(date)"
               (mouseenter)="hoveredDate = date"
               (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
      </ng-template>
    </div>
    <br>
    <div><br>
      <form fxLayout="column" [formGroup]="newAppointment" (ngSubmit)="submitHandler()">
        <mat-form-field appearance="outline" fxFlex="1 1 100%">

            <textarea matInput placeholder="Datum" [disabled]="true" cdkTextareaAutosize cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="2" name="date" class="date"> {{getSelectedDateToString()}}
  </textarea>
          <span matSuffix> {{getSlotString()}}</span>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="1 1 100%">
          <input matInput placeholder="Slots" formControlName="slots">

        </mat-form-field>
<div id="zeit" fxFlex="1 1 100%" fxLayout="row">
        <mat-form-field appearance="outline" fxFlex="1 1 50%">
<input matInput placeholder="Stunde" formControlName="startStunde">

        </mat-form-field>
  <mat-form-field appearance="outline" fxFlex="1 1 50%">
    <input matInput placeholder="Minute" formControlName="startMinute">

  </mat-form-field>
</div>
        <button mat-raised-button color="accent" type="submit" [disabled]="newAppointment.invalid">Termin erstellen
        </button>
        <mat-error *ngIf="!date.valid">
          Bitte Datum auswählen
        </mat-error>
      </form>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z6" *ngIf="success">
  <mat-card-title>Termin gebucht!</mat-card-title>
  <mat-card-subtitle>Zusammenfassung zur Erinnerung:</mat-card-subtitle>
  <mat-card-content fxLayout="column">
    <span fxFlex="1 1 100%"> date : {{getSelectedDateToString()}}</span>

    <br>
    <button mat-raised-button color="accent" fxFlex="1 1 100%" routerLinkActive="active" routerLink="/dashboard"
            (click)="reload()">Verstanden!
    </button>
  </mat-card-content>
</mat-card>
