* {
  align-content: center;
}

.login-card {
  margin-right: 2vw;
  margin-left: 2vw;
  margin: 2vh 2vh;
  padding: 1em;
}

.login-card .heading {
  margin-bottom: 1rem;
}


#getSlots, #logout {
  margin: 1em;
}