<mat-card class="login-card">
  <form (ngSubmit)="handleSubmit()">
    <h2 class="heading">Login</h2>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" [(ngModel)]="username" name="username" matInput placeholder="Username">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Password">
      </mat-form-field>
    </p>
    <button mat-raised-button color="accent" type="submit">Login</button>
  </form>
</mat-card>
