<mat-toolbar class="mat-elevation-z12" color="primary" fxLayout="row">
  <span fxFlex="1 1 auto" class="head-component">
    <button mat-flat-button color="primary" class="buttons" routerLinkActive="active" routerLink="/dashboard">
      <mat-icon>settings_input_svideo</mat-icon>
      PR2 Tutorium
    </button>
  </span>
  <span fxFlex="1 1 auto" fxFill></span>
  <span fxFlex="1 1 auto" class="head-component">
    <div>
      <nav>
        <button mat-flat-button color="primary" class="buttons" routerLinkActive="active" routerLink="/newMessage">
          <mat-icon>mail_outline</mat-icon>
          Post verfassen</button>
        <button mat-flat-button color="primary" class="buttons" routerLinkActive="active" routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
        Dashboard</button>
      </nav>
    </div>
  </span>
</mat-toolbar>






