
<div *ngIf="slots">

  <div *ngFor="let date of slots">

    <mat-card>
      <mat-list>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span><mat-icon>date_range</mat-icon></span>
              <h4>{{date.date[0]}}.{{date.date[1]}}.{{date.date[2]}}</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngIf="date.slots">
            <button class="delete-date-button" mat-raised-button color="accent">Datum löschen</button>
            <mat-divider></mat-divider>
            <div *ngFor="let slot of date.slots">

              <mat-list>
                <mat-list-item><strong>Slotzeit:{{slot.startTime[0]}}:{{slot.startTime[1]}} |
                  {{slot.roomNumber}}</strong>
                </mat-list-item>
                <mat-list-item>
                  <h5 matLine>{{slot.bookedByGroup}}</h5>
                  <p matLine><i>Nachricht:</i></p>
                  <p matLine>{{slot.message}}</p>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>


            </div>

          </div>

          <mat-divider></mat-divider>
        </mat-expansion-panel>
      </mat-list>

    </mat-card>

  </div>

</div>
