<div class="sth" *ngIf="!sucess">
  <mat-card class="mat-elevation-z6">
    <mat-card-title>Terminbuchung</mat-card-title>
    <mat-card-subtitle>Benutzt diesen Kalender für die Terminvergabe</mat-card-subtitle>
    <mat-card-content fxLayout="column">
      <div fxFlex="1 1 100%">
        <p>
          - Wählt einen freien Termin aus (blau)<br>
          - Füllt die restlichen Felder sinnvoll aus<br>
          - Nehmt den ernsthaft Termin wahr<br>
          - Profit :)
        </p>
        <mat-divider></mat-divider>
      </div>


      <div class="datepicker" fxFlexAlign="center" fxFlex="1 1 100%">
        <br>
        <ngb-datepicker #cal [(ngModel)]="model" (select)="onDateSelection($event)" [dayTemplate]="t">
        </ngb-datepicker>
        <ng-template #t let-date="date">
         <span class="calendar"
               [class.free]="isFree(date)"
               [class.completlyFree]="isCompletlyFree(date)"
               [class.full]="isFull(date)"
               [class.selected]="isSelected(date)"
               [class.past]="isPast(date)"
               (mouseenter)="hoveredDate = date"
               (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      </div>
      <br>
      <div><br>
        <form fxLayout="column" [formGroup]="newAppointment" (ngSubmit)="submitHandler()">
          <mat-form-field appearance="outline" fxFlex="1 1 100%">

            <textarea matInput placeholder="Datum" [disabled]="true" cdkTextareaAutosize cdkAutosizeMinRows="2"
                      cdkAutosizeMaxRows="2" name="date" class="date"> {{getSelectedDateToString()}}
  </textarea>
          <span matSuffix> {{getSlotString()}}</span>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="1 1 100%">
            <mat-select [(value)]="selected" formControlName="group" placeholder="Gruppenname">
              <mat-option value="A">PR2 - Gruppe A.1</mat-option>
              <mat-option value="B">PR2 - Gruppe A.2</mat-option>
              <mat-option value="C">PR2 - Gruppe A.3</mat-option>
              <mat-option value="A">PR1 - Beratung</mat-option>
            </mat-select>
            <mat-error *ngIf="group.touched && !group.valid">
              <div *ngIf="group.errors.required">This field is required</div>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="1 1 100%">
              <textarea matInput
                        placeholder="Beschreibt kurz euer Hauptanliegen und mögliche Problemstellungen in diesem Feld"
                        class="text"
                        cdkTextareaAutosize cdkAutosizeMinRows="6"
                        cdkAutosizeMaxRows="15" id="body" name="body" formControlName="msg" (change)="val()"
                        ng-model="msg2">
  </textarea>
            <span matSuffix>{{msg.value.length}}/150</span>
            <mat-error *ngIf="msg.touched && !msg.valid">
              <div *ngIf="msg.errors.required">This field is required</div>
              <div *ngIf="msg.errors.maxLength">The author has to be between 3 and 20
                characters long
              </div>
              <div *ngIf="msg.errors.pattern">You may only use characters and numbers</div>

            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="accent" type="submit" [disabled]="newAppointment.invalid">Termin buchen
          </button>
          <mat-error *ngIf="!date.valid && (msg.touched || group.touched)">
            Bitte Datum auswählen
          </mat-error>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="sth" *ngIf="success">
  <mat-card class="mat-elevation-z6">
    <mat-card-title>Termin gebucht!</mat-card-title>
    <mat-card-subtitle>Zusammenfassung zur Erinnerung:</mat-card-subtitle>
    <mat-card-content fxLayout="column">
      <span fxFlex="1 1 100%"> date : {{getSelectedDateToString()}}</span>
      <span fxFlex="1 1 100%"> group : {{group.value}}</span>
      <span fxFlex="1 1 100%"> subject : {{msg.value}}</span>
      <br>
      <button mat-raised-button color="accent" fxFlex="1 1 100%" routerLinkActive="active" routerLink="/dashboard"
              (click)="reload()">Verstanden!
      </button>
    </mat-card-content>
  </mat-card>
</div>
