#main{
  overflow: auto;
  padding: 1.5rem;
  padding-bottom: 150px;
  padding-top: 100px;
}
#container{
  min-height: 100%;
}
#footer{
  position: relative;
  height: 120px;
  margin-top: -120px;
  clear: both;
}
