<mat-card class="mat-elevation-z6">
<div class="sth">

      <ngb-datepicker #cal [(ngModel)]="model" (select)="onDateSelection($event)" [dayTemplate]="t" class="sth">
      </ngb-datepicker>
      <ng-template #t let-date="date" let-focused="focused">
         <span class="calendar"

               [class.focused]="focused"
               [class.free]="isFree(date)"
               [class.full]="isFull(date)"
               [class.selected]="isSelected(date)"

               (mouseenter)="hoveredDate = date"
               (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
      </ng-template>
  </div>
</mat-card>
