.messages {
  magin-bottom: 1rem;
  margin-top: 1rem;

  z-index: -1;

}

.mat-elevation-z6 {
  margin: 1rem;
}


.calendar {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;

}

.calendar.free {
  background-color: rgba(83, 109, 254, 0.5);
}

.calendar.full {
  background-color: rgba(255, 82, 82, 0.5);
}

.calendar.selected {
  background-color: rgba(48, 63, 159, 0.8);
  color: white;
}

.calendar:hover {
  background-color: rgba(48, 63, 159, 0.8);
  color: white;
}

.calendar.past {
  color: #cccccc;
}
.ye{
  width: 300px;
}
.datepicker{
  width:234px;
  height:267px;
}
